<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expand Network</title>
    <link rel="stylesheet" href="../styles/modal.css">
    <link rel="stylesheet" href="../styles/switch.css">
    <link rel="stylesheet" href="../styles/autocomplete_input.css">
    <link rel="stylesheet" href="../styles/compare_table.css">
</head>
<body>
    <div id="modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <p id="modal_message"></p>
          <button id="modal_btn">OKAY</button>
        </div>
      </div>
    <a href="../../public/index.html">
        <button><-- BACK</button>
    </a>
    <h1>Expand Network</h1>
    <div class="autocomplete" style="width:300px;">
        <input id="networkNameInput" type="text" name="networkName" placeholder="Network Name">
      </div>
      <button id="select_network_btn" onclick="select_network_btn_onclick()">select</button>
    <hr>
    <div id="network_div"></div>
    <hr>
    <button onclick="expand_selection_btn_onclick()">Expand Selection</button>
    <button onclick="expand_all_btn_onclick()">Expand All Nodes</button>
    <script src="../scripts/expand_network.js"></script>
</body>
</html>