<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Config</title>
    <link rel="stylesheet" href="../styles/modal.css">
</head>
<body>
    
    <a href="../../public/index.html">
        <button><-- BACK</button>
    </a>
    <h1>Set Config</h1>

    <div id="modal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <p id="modal_message"></p>
          <button id="modal_btn">OKAY</button>
        </div>
      
      </div>
    
        

</div>

    <p>normal key</p>
    <input type="text" class="set_config_input" id="normal_key"></input>
    <p>Neo4j uri</p>
    <input id="uri" type="text"  placeholder="bolt://localhost:7687" class="set_config_input"></input>
    <p>Neo4j username</p>
    <input id="username" type="text"  placeholder="neo4j" class="set_config_input"></input>
    <p>Neo4j password</p>
    <input type="text" id="pw" class="set_config_input"></input>
    <p>Companies House pull limit</p>
    <input id="appointments_limit" type="text"  placeholder="100" class="set_config_input"></input>
    <p>Offshore Leaks Database path</p>
    <input type="text" id="offshore_leaks_db_path" class="set_config_input"></input>
    <p>Offshore Leaks Database name</p>
    <input type="text" id="database" placeholder="OffshoreLeaks" class="set_config_input"></input>
    <p>Offshore Leaks Database host</p>
    <input type="text" id="database_host" placeholder="localhost" class="set_config_input"></input>
    <p>Offshore Leaks Database user</p>
    <input type="text" id="database_user" class="set_config_input"></input>
    <p>Offshore Leaks Database password</p>
    <input type="text" id="database_pw" class="set_config_input"></input>
    <p>Offshore Leaks Database port</p>
    <input type="text" id="database_port" placeholder="5432" class="set_config_input"></input>
    <p>Offshore Leaks Database addresses table</p>
    <input type="text" id="database_addresses_table" placeholder="addresses" class="set_config_input"></input>
    <p>Offshore Leaks Database entities table</p>
    <input type="text" id="database_entities_table" placeholder="entities" class="set_config_input"></input>
    <p>Offshore Leaks Database intermediaries table</p>
    <input type="text" id="database_intermediaries_table" placeholder="intermediaries" class="set_config_input"></input>
    <p>Offshore Leaks Database officers table</p>
    <input type="text" id="database_officers_table" placeholder="officers" class="set_config_input"></input>
    <p>Offshore Leaks Database others table</p>
    <input type="text" id="database_others_table" placeholder="others" class="set_config_input"></input>
    <p>Offshore Leaks Database relationships table</p>
    <input type="text" id="database_relationships_table" placeholder="relationships" class="set_config_input"></input>

    <hr>
    
    <button id="submit_btn" onclick="set_config_submit_btn_onclick()">SUBMIT</button>
    <script src="../scripts/mithril_request.js"></script>
    
</body>
</html>